@import "style-blog.css";
/*mobile*/
.container{
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr 3fr auto;

  grid-template-areas:
    "title"
    "side"
    "content"
    "foot";
}
h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 36pt;
}
.p-foot{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 24pt;
    color: grey;
}
.menu-list{
  display:flex;
  justify-content: space-between;
  }
/*blog blocks for mobile*/
.blogs{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-gap:2em;
}
.blogs > *{
  border: 2px solid black;
}

.title{
  grid-area: title;
  background-color: #03b6fc;
}
.main{
  grid-area: content;
  background-color: #c8d6db;
}
.side{
  grid-area: side;
  align-items: start;
  background-color: #03b6fc;
}
.foot{
  grid-area: foot;
  background-color: #03b6fc;
}
/*tablet*/
@media(min-width: 800px) and (max-width: 1000px) {
  .container{
    display:grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 1fr 3fr auto;
    grid-template-areas:
    "title title title"
    "content content side"
    "foot foot foot";
  }
  .blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap:2em;
  }
  .menu-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    text-align: center;
  }
}

/*desktop*/
@media(min-width: 1000px){
  .container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr auto;
    grid-gap: 1em;
    grid-template-areas:
    "title title title"
    "content content side"
    "foot foot foot";
  }
  .blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap:2em;
  }
  .menu-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    text-align: center;
  }
}
